@font-face {
	font-family: "Inter";
	src: url(fonts/Inter/static/Inter-Medium.ttf);
}

@font-face {
	font-family: "Bebas Neue";
	src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

:root {
	--main-color: #e56b6f;
	--main-color-faded: #e56b6f80;
	--secondary-color: ;
}

/* ==================================================
    "RESET" STYLING
================================================== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter";
	font-size: 16px;
	line-height: 125%;
	color: #000;
	text-decoration: none;
	list-style: none;
}

body {
	background-color: #eee;
	overflow-x: hidden;
}

body.no-scroll {
	overflow: hidden;
}

/* ==================================================
    HEADER STYLING
================================================== */

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
	position: sticky;
	top: 0;
	background-color: #fff;
	user-select: none;
}

header nav {
	display: flex;
	flex: 100;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.logo {
	position: absolute;
	left: 25px;
	font-family: "Bebas Neue";
	font-size: 50px;
	letter-spacing: 10px;
}

.nav-menu {
	display: flex;
	gap: 75px;
	position: absolute;
	right: 25px;
}

.nav-menu a:hover:not(#sign-in) {
	color: #00000080;
}

#sign-in {
	padding: 10px 20px;
	border-radius: 100px;
	background-color: var(--main-color);
	color: #fff;
	transition: 0.3s;
}

#sign-in:hover {
	background-color: var(--main-color-faded);
}

.burger-btn {
	display: none;
	position: absolute;
	right: 25px;
	cursor: pointer;
	user-select: none;
}

.burger-layer {
	width: 50px;
	height: 6px;
	border-radius: 6px;
	margin: 8px 0;
	background-color: #000;
	transition: 0.5s;
}

.burger-btn.active .burger-layer:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .burger-layer:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
}

.burger-btn.active .burger-layer:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
}

/* ==================================================
    MAIN STYLING
================================================== */

main {
	display: flex;
	justify-content: center;
	padding: 0 25px;
}

h1 {
	font-size: 5em;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
}

p {
	line-height: 125%;
}

a {
	transition: 0.5s;
}

span {
	font-size: inherit;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-image: linear-gradient(#00000000, #00000090), url(img/hero.jpg);
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 500px;
	padding: 0 25px;
	z-index: -1;
}

.hero h1, .hero p {
	color: #fff;
}

.hero p {
	margin: 25px 0;
}

.search-box {
	display: flex;
	align-items: center;
	position: relative;
}

.search-box svg {
	position: absolute;
	left: 10px;
}

.search-input {
	padding: 10px 50px;
	border: none;
	border-radius: 50px;
	outline: none;
	user-select: none;
}

/* login page */

.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin-top: 100px;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
}

.login-container label {
	display: flex;
	margin: 25px 0 15px;
}

.login-container input {
	width: 100%;
	padding: 15px;
	border: 1px solid #eee;
	border-radius: 10px;
	outline: none;
}

.password {
	justify-content: space-between;
	flex-wrap: wrap;
}

.login-container a {
	color: var(--main-color);
}

.login-container a:hover {
	color: var(--main-color-faded);
}

.continue {
	margin: 50px 0 15px;
	border: none;
	background-color: var(--main-color);
	color: #fff;
	cursor: pointer;
	transition: 0.3s;
}

.continue:hover {
	background-color: var(--main-color-faded);
}

.no-account {
	margin-bottom: 50px;
}

/* ==================================================
    FOOTER STYLING
================================================== */

footer {
	user-select: none;
}

/* ==================================================
    SCREEN RESPONSIVENESS
================================================== */

@media screen and (max-width: 1000px) {
	.burger-btn {
		display: block;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0;
		width: 100vw;
		height: calc(100% - 100px);
		position: fixed;
		top: 100px;
		left: 100%;
		background-color: #fff;
		overflow-y: auto;
		transition: 0.5s;
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-menu li a {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 100px;
		margin: 50px;
		background-color: #00000080;
		border-radius: 50px;
		transition: 0.3s;
	}

	.nav-menu a:hover:not(#sign-in) {
		background-color: #000000;
		color: #fff;
	}
}

@media screen and (max-width: 450px) {
	* {
		font-size: 14px;
	}

	.logo {
		display: none;
	}

	header nav {
		justify-content: center;
	}

	.burger-btn {
		position: static;
	}
}